# Production database. Provided database/kartologi.db.example
database/kartologi.db

# Production config. Provided config/config.js.example
config/config.js

# Client application
client

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
TransitionAnimation.ini

# Linux
.directory
*~

# WebStorm
.idea

# npm
node_modules

# Development testing
__DEV